
#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Source Serif 4', sans-serif;
    font-size: 14pt;
}

#header {
    background-color: #f34b51;
    color: white;
    text-align: center;
    padding: 10px;
}

#menu {
    text-align: center;
    background-color: #ff073dde;
    color: white;
}

#main {
    padding: 20px;

}

#footer {
    padding:10px;
    text-align: center;
    background-color: lightgrey;
}
